@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	
	
}
/* this is for login and sign up page*/
form div{
	margin: 15px;
}

form p {
	text-align: center;
}
/* this is for login and sign up page*/

body{
	color: #ededed;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo{
	font-size: 25px;
	color: #ededed;
	text-decoration: none;
	font-weight: 600;
}

.navbar a{
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
	
}

.navbar a:hover{
	color: #00abf0;
}

.body{
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 0 10%;
	background: url("images/backgroundpic.jpg");
	background-size: cover;
	background-position: center;
		
	
}

.body-content{
	max-width: 600px;
}

.body-content h1{
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
}

.body-content h3{
	font-size: 32px;
	font-weight: 700;
	color: #00abf0;
}

.body-content p{
	font-size: 16px;
	margin: 20px 0 40px;
}

.body-content .btn-box{
	display: flex;
	width: 345px;
	height: 50px;	
}

.btn-box a{
	position: relative;
	display: inline-flex;
	width: 150px;
	height: 100%;
	background:#00abf0;
	border: 2px solid #00abf0;
	border-radius:8px;
	font-size: 19px;
	color: #081b29;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow: hidden;
	transition: .5s
}

.btn-box a:nth-child(1){
	background: transparent;
	color: #00abf0;
}

.btn-box a::before{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width:0;
	height: 100%;
	background:#00abf0;
	z-index: -1;
	transition: .5s;
}

.btn-box a:hover::before{
	width:100%;
	
}

.btn-box a:hover{
	color:#081b29; 
}
